<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8VE7DTT5T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X8VE7DTT5T');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/create.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Seurl | Gerando seu Link</title>
</head>
<body>
    <header>
        <nav class="menu">
            <h1>
                <img src="/images/logo-seurl.png" class="menu-logo" alt="logo do seurl">
            </h1>
            <button id="buttonMenu" class="button-icone">
                <i id="menu" class="ph-list icone-style"></i>
            </button>
            <ul id="nav" class="menu-nav">
                <li>
                    <a href="/" class="menu-button">
                        Encurtador
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Termos de serviços
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Suporte
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <ul class="create">
            <li class="titulo">
                Seu Link está pronto!
            </li>
            <li class="box-link">
                <input id="text" class="border" value="seurl.com.br/<%= code %>" >
                <!-- para usar a váriavel de ambiente <%= process.env.DOMAIN %> -->
                <button id="copy" class="border">Copiar link</button>
            </li>
            <li class="texto-centralizado">
                Link Encurtado:
                <b><%= url %></b>
            </li>
            <li class="informacao texto-centralizado border">
                Para ver as estatísticas do seu link
                basta adicionar após o link <code>/stats</code>
            </li>
            <li>
                <a href="/">
                    <button class="encurtar">Encurtar nova URL</button>
                </a>
            </li>
        </ul>

    </main>
    <script type="text/javascript" src="/javascripts/copy.js"></script>
    <script type="text/javascript" src="/javascripts/header.js"></script>
</body>
</html>