<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/link.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Seurl | Link</title>
</head>
<body>
    <header>
        <nav class="menu">
            <h1>
                <img src="/images/logo-seurl.png" class="menu-logo" alt="logo do seurl">
            </h1>
            <button id="buttonMenu" class="button-icone">
                <i id="menu" class="ph-list icone-style"></i>
            </button>
            <ul id="nav" class="menu-nav">
                <li>
                    <a href="/" class="menu-button">
                        Encurtador
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Termos de serviços
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Suporte
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="create">
        <button id="delay" class="button on">Obter Link</button>

        <a href="" id="link"><button id="button-link" class="button off">Vá para o Link</button></a>
        
        <b id="url" class="off"><%= url %></b>
    </main>
    <script type="text/javascript" src="/javascripts/link.js"></script>
    <script type="text/javascript" src="/javascripts/header.js"></script>
</body>
</html>