<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8VE7DTT5T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X8VE7DTT5T');
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/link.css">
    
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

    <title>Seurl | Link</title>
</head>
<body onload="loadingComplete()">
    <script type="text/javascript">
        var uid = '447462';
        var wid = '672098';
        var pop_fback = 'up';
        var pop_tag = document.createElement('script');pop_tag.src='//cdn.popcash.net/show.js';document.body.appendChild(pop_tag);
        pop_tag.onerror = function() {pop_tag = document.createElement('script');pop_tag.src='//cdn2.popcash.net/show.js';document.body.appendChild(pop_tag)};
     </script>

     <header>
        <nav class="menu">
            <h1>
                <img src="/images/logo-seurl.png" class="menu-logo" alt="logo do seurl">
            </h1>
            <button id="buttonMenu" class="button-icone">
                <i id="menu" class="ph-list icone-style"></i>
            </button>
            <ul id="nav" class="menu-nav">
                <li>
                    <a href="/" class="menu-button">
                        Encurtador
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Termos de serviços
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Suporte
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="">
        <section class="structure">
            <div id="load"></div>

            <form id="recaptcha" class="off">
                <div class="g-recaptcha" secret="6Lfqv44iAAAAAOm63uVKIqlwX0a79RNwpqLUXKXq" data-callback="recaptchaVerify" data-sitekey="6Lfqv44iAAAAANM6hSBlFsTXLxcUgf5JFEdsKJtR"></div>
                <br/>
            </form>
            <div id="cont" class="indicator off">
                <p>Role para baixo</p>
            </div>
        </section>
        <section id="cont-link" class="structure off">
            <button id="delay" class="button off">Obter Link</button>

            <a href="" id="link"><button id="button-link" class="button off">Vá para o Link</button></a>
            
            <b id="url" class="off"><%= url %></b>
        </section>   
    </main>
    <script type="text/javascript" src="/javascripts/link.js"></script>
    <script type="text/javascript" src="/javascripts/header.js"></script>
</body>
</html>