<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8VE7DTT5T"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X8VE7DTT5T');
    </script>
    <meta name="propeller" content="49676c726fa4fddb9fcc401f245d946c">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2.5; URL='<%= url %>'"/>
    <link rel="stylesheet" href="/stylesheets/redirect.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <title>Seu Link Encurtado</title>
</head>
<body>
    <main>
        <div class="load"></div>
        <p>Redirecionando para o seu link</p>
    </main>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3034684060404687"
     crossorigin="anonymous"></script>
</body>
</html>