main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stats {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    height: 65vh;
    width: 100%;
    background: #F8F8F8;
    border-radius: 7px;
}

.stats-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #EE5253 ;
    border-radius: 7px 7px 0 0;
}

.header-text {
    margin-bottom: 0px !important;
    font-size: 18px;
}

.stats-inf {
    height: 87%;
    display: grid;
    co
    padding: 16px;
    box-sizing: border-box;
}

li h3 {
    font-size: 14px !important;
    color: #222F3E;
}

.inf-container {
    height: 42px;
    width: 100%;
    background: #D9D9D9;
    border-radius: 7px;
}